            <hr>
            {{! Footer }}
            <div class="container">
            <footer>
                <div class="pull-right">
                © {{title}}
            </div>
            </footer>
            </div>
  {{! Javascript: Placed at the end of the document so the pages load faster }}
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'></script>
                <script src="/static/public/js/bootstrap-transition.js"></script>
		<script src="/static/public/js/bootstrap-alert.js"></script>
                <script src='/static/public/js/bootstrap-dropdown.js'></script>
                <script src="/static/public/js/bootstrap-collapse.js"></script>
                <script src="/static/public/js/bootstrap-modal.js"></script>
        
</body>
</html>
